{% extends "ajaxformdinamicbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_observacion, #id_archivo").addClass("validate[required]");
            {#$("#id_observacion").css({'text-transform': 'none'});#}
        });
    </script>
{% endblock %}
{% block formaction %}/adm_becas{% endblock %}
{% block formdestination %}/adm_becas{% endblock %}
{% block formextra %}
    <input type='hidden' name='id' id='id' value='{{ id }}' />
    <input type='hidden' name='action' value='anularbeca' />
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th style="vertical-align: middle">Alumno:</th>
                <td>{{ beca.solicitud.inscripcion.persona.nombre_completo_inverso }}</td>
                <th style="vertical-align: middle;">N°Solicitud:</th>
                <td><span class="label label-success">{{ beca.solicitud.id }}</span></td>
            </tr>
            <tr>
                <th>Tipo Beca:</th>
                <td><span class="label label-info">{{ beca.solicitud.becatipo.nombre|upper }}</span></td>
                <th>Fecha Solicitud</th>
                <td>{{ beca.solicitud.fecha_creacion|date:"Y-m-d" }}</td>
            </tr>
        </thead>
    </table>
{% endblock %}
{% block formback %}/adm_becas{% endblock %}
{% block buttonname %}Anular{% endblock %}