{% load sga_extras %}
<div class="row-fluid">
    {#    <label class="label label-info"#}
    {#           style="font-size: 12px;">{{ filtro.codigodocumento }}</label>#}
    <table class="table table-bordered table-striped">
        <div class="alert alert-info">
            <strong>
                NOTA: Se le recuerda que solo se suman los
                recursos que se encuentren migrados a moodle.
            </strong>
        </div>
        <thead class="table-light">
        <tr>
            <th style="text-align: center; width: 400px;"
                bgcolor="#f1f1f1">CONTENIDO/ACTIVIDAD
            </th>
            <th style="text-align: center; width: 80px;"
                bgcolor="#f1f1f1">RECURSOS DISEÑADOS EN EL SÍLABO / LINEAMIENTO
            </th>
            <th style="text-align: center; width: 80px;"
                bgcolor="#f1f1f1">RECURSOS MIGRADOS A MOODLE
            </th>
            <th style="text-align: center; width: 80px;"
                bgcolor="#f1f1f1">PORCENTAJE DE CUMPLIMIENTO
            </th>
        </tr>
        </thead>
        <tbody>
        {% with horasdocencia=data.distributivo|args:data.fini|args:data.ffin|call:'detalle_horas_docencia' %}
            {% if horasdocencia %}
                {% for actividad in horasdocencia %}
                    {% if actividad.criteriodocenciaperiodo.nombrehtmldocente == 'planificarcontenido' %}
                        {% horarios_contenido_profesor_extra actividad.criteriodocenciaperiodo data.distributivo.profesor materia data.fini data.ffin as contenidohor %}
                        {% for evidencia in contenidohor %}
                            {% if evidencia.6 == 3 %}
                                <tr>
                                    <td colspan="4" bgcolor="#f1f1f1">
                                        <strong>{{ evidencia.1 }}</strong>
                                    </td>
                                </tr>

                            {% else %}
                                {% if not forloop.last %}
                                    {% if evidencia.2 > 0 %}
                                        <tr>
                                            <td>
                                                {{ evidencia.1 }}
                                            </td>
                                            {% if evidencia.6 == 'ACTIVIDADES' %}
                                                <td style="text-align: center;">{{ evidencia.2 }}
                                                </td>
                                            {% else %}
                                                <td style="text-align: center;">{{ evidencia.11 }}
                                                </td>
                                            {% endif %}
                                            <td style="text-align: center;">{{ evidencia.3 }}</td>
                                            <td style="text-align: center;">
                                                {% if evidencia.6 == 'ACTIVIDADES' %}
                                                    {{ evidencia.4 }}%
                                                {% else %}
                                                    {% if evidencia.6 == 1 %}
                                                        {{ evidencia.4 }}%
                                                    {% else %}
                                                        {{ evidencia.5 }}%
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}

                                    <tr>
                                        <td style="text-align: center;">
                                            <strong>RESUMEN</strong></td>
                                        <td style="text-align: center;">-</td>
                                        <td style="text-align: center;">-</td>
                                        <td style="text-align: center;{% if evidencia.9 < 100 %}background-color:#f8d7da{% endif %}">
                                            <div>
                                                {{ evidencia.9 }}%
                                            </div>
                                            {#                                            <input type="hidden"#}
                                            {#                                                   id="idhorasplanificadas{{ actividad.id }}"#}
                                            {#                                                   name="idhorasplanificadas{{ actividad.id }}"#}
                                            {#                                                   value="{{ evidencia.4 }}"/>#}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"
                                            style="text-align: center; background-color: transparent; border-bottom-style: hidden; border-left-color: transparent;"></td>
                                        <td style="text-align: center;"><strong>PONDERACIÓN
                                            (40%)</strong></td>
                                        <td style="text-align: center;{% if evidencia.8 < 40 %}background-color:#f8d7da{% endif %}">
                                            <div>
                                                {{ evidencia.8 }}%
                                            </div>
                                            {#                                            <input type="hidden"#}
                                            {#                                                   id="idhorasplanificadas{{ actividad.id }}"#}
                                            {#                                                   name="idhorasplanificadas{{ actividad.id }}"#}
                                            {#                                                   value="{{ evidencia.8 }}"/>#}
                                        </td>
                                    </tr>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}

        </tbody>
    </table>
</div>
{#<script type="text/javascript">#}
{##}
{#    $(document).ready(function () {#}
{#        const cargar_porcentajes = () => {#}
{#            var porcenjate_verdadero = 0;#}
{#            var sumatoria = 0;#}
{#            var convertido = 0;#}
{#            $(".porcentajetotales_dev").each(function () {#}
{#                console.log($(this).val())#}
{#                sumatoria = sumatoria + parseInt($(this).val());#}
{#            });#}
{#            porcenjate_verdadero = sumatoria / 2;#}
{#            convertido = (porcenjate_verdadero * 40) / 100;#}
{#            $("#portotal_traido").html(porcenjate_verdadero + "%");#}
{#            $("#convertido40").html(convertido + "%");#}
{#        }#}
{#        cargar_porcentajes();#}
{#    })#}
{#</script>#}