{% extends 'ajaxformmodalmultiple.html' %}
{% load sga_extras %}
{% block extra_js %}

<input type="hidden" name="id" value="{{ id|encrypt }}"/>
<input type="hidden" name="idpadre" value="{{ idpadre }}"/>
<input type="hidden" name="action" value="{{ action }}"/>

    <style>
        .dropify-wrapper .dropify-message span.file-icon {
            font-size: 25px;
            color: #CCC;
        }
    </style>
    <script>
        var titulo = CKEDITOR.replace('titulo');
        var subtitulo = CKEDITOR.replace('subtitulo');
        var cuerpoinformativa = CKEDITOR.replace('cuerpoinformativa');

        $(function () {
            $('.cke_editable').on('change', function () {
                var value = $(this).outerHTML()
            });
            var drEvent = $('#id_portada').dropify({
                messages: {
                    default: 'Arrastre y suelte el portada o haga clic aquí.',
                    replace: 'Arrastre y suelte el portada o haga clic aquí.',
                    remove: 'Eliminar',
                    error: 'Ocurrió un error!'
                },
                error: {
                    fileSize: "El tamaño del portada debe ser máximo (2MB).",
                    fileExtension: "Sólo puede subir los portadas con las extensiones .jpeg .jpg .png"
                },
                allowedFileExtensions: ['jpeg', 'jpg', 'png']
            });
        });

        function funcionAntesDeGuardar() {
            $('#id_titulo').val(titulo.getData())
            $('#id_subtitulo').val(subtitulo.getData())
            $('#id_cuerpoinformativa').val(cuerpoinformativa.getData())
        }

    </script>
{% endblock %}