<script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
<link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
<script type="text/javascript">
    $(function () {
        var listapreinscripciones = [];
        var listapreguntasppp = [];
        var nivel = parseInt('{{ nivel }}');
        //alert(nivel);
        {#$(".inscribirseppp").unbind();#}
        $(".inscribirseppp").click(function () {
            var idi = $(this).attr('idi');
            if (esta_en_lista(idi) == 0) {
                if ($(this).attr('idi')) {
                    $(this).removeClass('btn btn-info');
                    $(this).addClass('btn btn-danger');
                    $(this).html('Remover');
                    listapreinscripciones.push(idi);
                }
            } else {
                if ($(this).attr('idi')) {
                    $(this).removeClass('btn btn-danger');
                    $(this).addClass('btn btn-info');
                    $(this).html('Inscribirse');
                    eliminar_preincripcion(idi);
                }
            }
        });
        eliminar_preincripcion = function (item) {
            for (var i = listapreinscripciones.length; i--;) {
                if (listapreinscripciones[i] === item) {
                    listapreinscripciones.splice(i, 1);
                }
            }
        };
        esta_en_lista = function (item) {
            var exi = 0;
            for (var i = listapreinscripciones.length; i--;) {
                if (listapreinscripciones[i] === item) {
                    exi = 1;
                }
            }
            return exi;
        };
        $(".item_respuesta").change(function () {
            var idpre = $(this).attr('idpre');
            var idres = $(this).val();
            if (existe_en_lista_pregunta(idpre, idres) == 0) {
                listapreguntasppp.push([idpre, idres]);
            } else {
                eliminar_preguntappp(idpre, idres);
            }
        });
        existe_en_lista_pregunta = function (idpre, idres) {
            var exi = 0;
            for (var i = listapreguntasppp.length; i--;) {
                if (listapreguntasppp[i][0] === idpre && listapreguntasppp[i][1] === idres) {
                    exi = 1;
                }
            }
            return exi;
        };
        eliminar_preguntappp = function (idpre, idres) {
            for (var i = listapreguntasppp.length; i--;) {
                if (listapreguntasppp[i][0] === idpre && listapreguntasppp[i][0] === idres) {
                    listapreguntasppp.splice(i, 1);
                }
            }
        };
        $('.preinscripcionppp_save').click(function () {
            //alert("Aqui es ");
            bloqueointerface();
            $(this).prop('disabled', true);
            var idi = $(this).attr('idi');
            var cant_pre = {{ cant_preg }};
            //alert(cant_pre);
            //alert(listapreguntasppp.length);
            //alert(listapreinscripciones.length);
            if (cant_pre > 0) {
                if (listapreguntasppp.length > 0) {
                    if (listapreguntasppp.length == cant_pre) {
                        if (listapreinscripciones.length > 0) {
                            $.post("/alu_preinscripcioppp", {
                                'action': 'preinscripcionppp',
                                'idi': idi,
                                'idp':{{ preinscripcion.id }},
                                'id':{{ idinscripcion }},
                                'listarespuesta': JSON.stringify(listapreguntasppp),
                                'listapreinscripcion': JSON.stringify(listapreinscripciones)
                            }, function (data) {
                                $.unblockUI();
                                if (data.result == 'ok') {
                                    $("#itempanelpreinscripcion1").modal("hide");
                                    location.reload();
                                } else {
                                    smoke.alert(data.mensaje);
                                }
                            }, 'json').error(function (data) {
                                $.unblockUI();
                                smoke.alert('Error en la transaccion');
                                $(this).prop('disabled', false);
                            });
                        } else {
                            smoke.alert('Debe seleccionar una Pre-Inscripción');
                        }
                    } else {
                        smoke.alert('Falta preguntas de responder');
                    }
                } else {
                    smoke.alert('Debe contestar las preguntas');
                }
            } else {
                if (listapreinscripciones.length > 0) {
                    $.post("/alu_preinscripcioppp", {
                        'action': 'preinscripcionppp',
                        'idi': idi,
                        'idp':{{ preinscripcion.id }},
                        'id':{{ idinscripcion }},
                        'listarespuesta': JSON.stringify(listapreguntasppp),
                        'listapreinscripcion': JSON.stringify(listapreinscripciones)
                    }, function (data) {
                        if (data.result == 'ok') {
                            $.unblockUI();
                            $("#itempanelpreinscripcion1").modal("hide");
                            location.reload();
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    }, 'json');
                } else {
                    smoke.alert('Debe seleccionar una Pre-Inscripción');
                }
            }
        });
        $('#preinscripcionppp_close').click(function () {
            $('#itempanelpreinscripcion1').modal('hide');
        });

        {% if not itinerarios %}
            if (nivel > 5) {
                listapreinscripciones.push('0');
                //alert("Hola");
            }
        {% endif %}

    });
</script>

<div {% if cant_preg > 0 %} style="overflow-y: auto;height: 250px;" {% endif %}>
    <div class="row-fluid">
        <div class='span12'>
            {% if validar_preinscripcion_ %}
                {% if preinscripcion.preguntas and not respondio %}
                    <h5>Preguntas (Obligatorias)</h5>
                    <table class="table table-bordered">
                        <tbody>
                        {% for p in preinscripcion.preguntas %}
                            <tr>
                                <td>{{ forloop.counter }}.- {{ p.descripcion }}</td>
                                <td width="20%">
                                    <select class="selector item_respuesta" idpre="{{ p.id }}">
                                        <option value="0">---------------</option>
                                        {% for r in p.respuestas %}
                                            <option value="{{ r.id }}">{{ r }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <table class='table' cellpadding="0" cellspacing="0">
                    <tbody>
                    {% if itinerarios %}
                        {% for iti in itinerarios %}
                            <tr id="fila{{ iti.0 }}">
                                <td width="60%"><h5>{{ iti.1 }}</h5></td>
                                <td width="10%"><h5>{{ iti.2 }}</h5></td>
                                <td width="10%" style="text-align: center; font-size: 15px"><a
                                        class="btn btn-info inscribirseppp" idi="{{ iti.0 }}"> Inscribirse</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    {% if mostrarmensajenotiene %}
                                        NO EXISTEN SOLICITUDES REGISTRADAS  - ITINERARIOS
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% if falta_horas %}
                            <tr>
                                <td><h5>Pre-Inscripción de Pre-Profesionales</h5></td>
                                <td width="10%"><a class="btn btn-info inscribirseppp" idi="0"> Inscribirse</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    {% if mostrarmensajenotiene %}
                                        NO EXISTEN SOLICITUDES REGISTRADAS - FALTA HORAS
                                    {% else %}
                                        NO TIENE ITINERARIOS DISPONIBLES
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            {% else %}
                {% if preinscripcion.inglesaprobado %}
                    {% if not inglesaprobado %}
                        <div class="alert alert-danger">
                            <p style="font-size: 20px"><i class="fa fa-warning"></i> <b>Debe aprobar todos los módulos de inglés para poder pre inscribirse</b></p>
                        </div>
                    {% endif %}
                {% endif %}
                {% if preinscripcion.computacionaprobado %}
                    {% if not computacionaprobado %}
                        <div class="alert alert-danger">
                            <p style="font-size: 20px"><i class="fa fa-warning"></i> <b>Debe aprobar todos los módulos de computación para poder pre inscribirse</b></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="modal-footer">
    <div style="float: right">
        {% if itinerarios %}
            <a class="btn btn-success preinscripcionppp_save" id="preinscripcionppp_save"><i class="fa fa-check-circle"></i> Guardar</a>
        {% endif %}
        <a class="btn btn-danger preinscripcionppp_close" id="preinscripcionppp_close"><i class="fa fa-close"></i>
            Cerrar</a>
    </div>
</div>
