{% load sga_extras %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#" py:extends="sitetemplate">
<html lang="en">
<head>
    <meta charset=UTF-8">
    <style type="text/css">
        @page {
            background-image: url('https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png');
            /*background-position: right 0.5cm;*/
            /*background-position: right 1000px;
            background-repeat: no-repeat;*/
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 1cm;
            right: 0.5cm;
            top: 0.5cm;
            height: 4cm;
        }
        @frame {
        -pdf-frame-content:company_logo;
            /*-pdf-frame-border: 1;*/
        left: 1cm;
        }
        @frame content_frame {
        left: 1cm; right: 1cm; top: 4cm; bottom: 3cm;
        }
        @frame footer {
        -pdf-frame-content:footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        text-align:right;
        height: 1.5cm;
        }
        }
    </style>
</head>
<body>
<div id="company_logo">
    <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image"/>
</div>
<div id="header_content">
</div>

<div>
    <div align="center" style="font-size: 18px"><strong>DIRECCIÓN DE MANTENIMIENTOS MENORES Y SERVICIOS
        GENERALES - GESTIÓN DE MANTENIMIENTOS MENORES</strong>
    </div>
    <div align="center" style="font-size: 14px"><strong>REPORTE TÉCNICO #</strong> T-0{{ bajaactivo.id }} - <strong>FECHA
        ELABORACIÓN
        INFORME:</strong> {{ bajaactivo.fecha_creacion|date:"d-m-Y" }}</div>
</div>

<div id="content_frame">
    <table width="95%" align="center" border="1"
           style="font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td width="187" colspan="6" bgcolor="#A4A4A4">
                <div style="color: white"><strong>DETALLE DE REPORTE</strong></div>
            </td>
        </tr>
        <tr>
            <td width="173" style="text-align: center" colspan="3"><strong>SOLICITANTE</strong></td>
            <td width="347" style="text-align: center" colspan="3"><strong>RESPONSABLE DE INFORME</strong></td>
        </tr>
        <tr>
            <td style="text-align: center"  colspan="3">{{ bajaactivo.solicita }}</td>
            <td style="text-align: center"  colspan="3">{{ bajaactivo.responsable }}</td>
        </tr>
        <tr>
            <td width="187" style="text-align: center" colspan="2"><strong>DETALLE DE REVISIÓN</strong></td>
            <td width="187" style="text-align: center" colspan="2"><strong>UBICACIÓN</strong></td>
            <td width="187" style="text-align: center" colspan="2"><strong>MAL USO</strong></td>
        </tr>
        <tr>
            <td style="text-align: center"  colspan="2">{{ bajaactivo.detallerevision|upper }}</td>
            <td style="text-align: center" colspan="2">{{ bajaactivo.bloque }}</td>
            <td style="text-align: center" colspan="2">{{ bajaactivo.get_estadouso_display }}</td>

        </tr>
        <tr>
            <td width="187" colspan="6" bgcolor="#A4A4A4">
                <div style="color: white"><strong>INFORMACIÓN DE ACTIVO</strong></div>
            </td>
        </tr>

        <tr>
            <td colspan="6" style="text-align: left"><strong>CUSTODIO: </strong>{{ bajaactivo.activofijo.custodio }}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"><strong>COD. GOBIERNO: </strong>{% if informe.codigogobierno %}
                {{ informe.codigogobierno }}{% else %}-{% endif %}<br></td>
            <td colspan="2" style="text-align: center"><strong>COD. INTERNO: </strong>{% if informe.codigointerno %}
                {{ informe.codigointerno }}{% else %}-{% endif %}</td>
            <td colspan="2" style="text-align: center"><strong>FECHA
                INGRESO: </strong>{{ informe.fechaingreso|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <td width="187" style="text-align: center" colspan="2"><strong>SERIE</strong></td>
            <td width="187" style="text-align: center" colspan="2"><strong>MARCA</strong></td>
            <td width="187" style="text-align: center" colspan="2"><strong>MODELO</strong></td>
        </tr>
        <tr>
            <td style="text-align: center"  colspan="2">{{ informe.serie }}</td>
            <td style="text-align: center"  colspan="2">{{ informe.marca }}</td>
            <td style="text-align: center"  colspan="2">{{ informe.modelo }}</td>
        </tr>

        <tr>
            <td colspan="6" style="text-align: left"><strong>DESCRIPCIÓN</strong></td>
        </tr>
        <tr>
            <td style="text-align: left" colspan="6">{{ informe.descripcion|upper }}</td>

        </tr>
    </table>
    </br>
    <table width="95%" align="center" border="1"
           style="font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td bgcolor="#A4A4A4">
                <div style="color: white"><strong>ACTIVIDADES DE REVISIÓN Y PRUEBAS TÉCNICAS</strong></div>
            </td>
        </tr>
        {% for det in detalle %}
            <tr>
                <td>
                    <div style="text-align: justify">{{ det|upper }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
    </br>
    <table width="95%" align="center" border="1"
           style="font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td bgcolor="#A4A4A4" colspan="3">
                <div style="color: white"><strong>INFORME FINAL</strong></div>
            </td>
        </tr>
        <tr>
            <td width="199" style="text-align: center"><strong>PROCESO</strong></td>
            <td width="199" style="text-align: center"><strong>ESTADO</strong></td>
            <td width="717" style="text-align: center"><strong>CONCLUSIÓN</strong></td>
        </tr>
        <tr>
            <td style="text-align: center">BAJA</td>
            <td style="text-align: center">{{ bajaactivo.get_estado_display|default_if_none:"&nbsp;" }}</td>
            <td>
                <div style="text-align: justify">{{ bajaactivo.conclusion|upper }}</div>
            </td>
        </tr>
    </table>

    <h2>Generado: {{ hoy|date:'d-m-Y' }}</h2>
    <br>
    <table width="95%" align="center" border="0"
           style="font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td width="48%" style="text-align: center">
                <strong>
                    <br><br><br>
                    _______________________________________
                    <br>
                </strong><br>
                <div style="font-size: 10px; line-height: 12px">
                    {{ director }}
                    <br>
                    {{ director.denominacionpuesto }}
                </div>
            </td>
            <td width="48%" style="text-align: center">
                <strong>
                    <br><br><br>
                    _______________________________________
                    <br>
                </strong><br>
                <div style="font-size: 10px; line-height: 12px">
                    {{ bajaactivo.responsable }}
                    <br>
                    {{ bajaactivo.responsable.mi_cargo_administrativo.descripcion }}
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="footerContent">
    <div>
        {% block page_foot %}
            <hr color="black"/>
            <table style="color: grey;text-align: right">
                <tr>
                    <td>
                        &nbsp;&nbsp;<b>P&aacute;gina
                        <pdf:pagenumber></pdf:pagenumber>
                        de
                        <pdf:pagecount></pdf:pagecount>
                    </b>
                    </td>
                </tr>
            </table>
        {% endblock %}
    </div>
</div>
</body>
</html>




